@model List<BlogModel>
@{
    ViewData["Title"] = "Blog";
    int count = 0;
}

<a href="/BlogAjax/Create" class="btn btn-sm btn-success">New</a>
<div class="text-center">
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th> action</th>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                    <th scope="col">Author</th>
                </tr>
            </thead>
            <tbody>
                @foreach (BlogModel item in Model)
                {
                    <tr>
                        <td>
                            <a class="btn btn-primary" href="/BlogAjax/Edit/@item.blog_id" role="button">Edit</a>
                            <button
                            type="button"
                            class="btn btn-danger btn-delete"
                            data-blog-id ="@item.blog_id">
                                Delete
                            </button>
                        </td>
                        <td>@(++count)</td>
                        <td scope="row">@item.blog_title</td>
                        <td>@item.blog_content</td>
                        <td>@item.blog_author</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>


@section script {
    <script>
        $(".btn-delete").click(function(e){
            const BlogId = $(this).data("blog-id");

            Swal.fire({
                title: "success",
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: "ok",
            }).then((result) => {
                if (result.isConfirmed) {
                    
                    deleteBlog(BlogId);
                }
            });
        })


        const deleteBlog = (id) => {

            const _reqModel = {
                blog_id : id,
            }

            console.log(_reqModel)

            $.ajax({
                url: "/BlogAjax/Delete",
                data: { blog: _reqModel },
                type: "POST",
                dataType: "json",
                success: (result) => {
                    if (result.isSuccess) {
                        Swal.fire({
                            title: "success",
                            text : result.message,
                            confirmButtonText: "ok",
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location = "https://localhost:7280/BlogAjax/";
                            }
                        });
                    }
                },
                error: (err) => console.log(err)
            });
        }
    </script>
}
